/* Hoja de estilos */

body{
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    grid-template: 100px 1fr 150px / 200px 1fr ;
    grid-template-areas: 'header header' 
                        'left contenido'
                        'footer footer';
    grid-gap: 10px;
    height: calc(100vh - 20px);
}

.header{
    grid-area: header
}
.left{
    grid-area: left
}
.contenido{
    grid-area: contenido
}
.footer{
    grid-area: footer
}

.item{
    background:lightblue;
    border:10px;
    border: 1px solid lightcoral;
}